{% for subtask in task.subtasks.all %}
<div class="subtask-item">
    <span>{{ subtask.title }}</span>
    <div style="display: flex; align-items: center; gap: 0.5rem;">
        <select
            class="subtask-select
                {% if subtask.status == 'COMPLETED' %}
                    status-badge-completed
                {% elif subtask.status == 'IN_PROGRESS' %}
                    status-badge-inprogress
                {% elif subtask.status == 'BLOCKED' %}
                    status-badge-block
                {% else %}
                    status-badge-todo
                {% endif %}"
            onchange="handleStatusChange(this, {{ subtask.pk }})">

            <option value="TODO" {% if subtask.status == 'TODO' %}selected{% endif %}>Chờ thực hiện</option>
            <option value="IN_PROGRESS" {% if subtask.status == 'IN_PROGRESS' %}selected{% endif %}>Đang thực hiện</option>
            <option value="COMPLETED" {% if subtask.status == 'COMPLETED' %}selected{% endif %}>Hoàn thành</option>
            <option value="BLOCK" {% if subtask.status == 'BLOCK' %}selected{% endif %}>Chặn</option>
        </select>
        <button type="button" class="btn-danger" onclick="deleteSubTask({{ subtask.pk }})">&#128465;</button>
    </div>
</div>
{% empty %}
<p style="color: var(--text-muted); text-align: center; font-size: 0.9rem;">Chưa có nhiệm vụ con nào.</p>
{% endfor %}